.movies__card-list {
    display: grid;
    margin: 0;
    padding: 40px 10px 30px;
    row-gap: 16px;
    box-sizing: border-box;
    list-style-type: none;
}

@media screen and (min-width: 768px) {
    .movies__card-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 36px;
        padding: 70px 30px 30px;
    }
}

@media screen and (min-width: 1280px) {
    .movies__card-list {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 24px;
        row-gap: 30px;
        padding: 70px 70px 30px;
    }
}

.movies__card-list-title {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .movies__card-list-title {
        font-size: 30px;
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width: 1280px) {
    .movies__card-list-title {
        grid-column: 1 / span 3;
    }
}