.movie-card {
    display: grid;
    background-color: #222222;
}
.movie-card__info {
    padding: 14px;
    display: grid;
    grid-template-areas:
    'movie-name movie-button'
    'movie-duration movie-button'
    ;
}
  
.movie-card__name {
    margin: 0;
    padding-bottom: 9px;
    grid-area: movie-name;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
  
.movie-card__duration {
    margin: 0;
    grid-area: movie-duration;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    color: #8B8B8B
}
  
.movie-card__button {
    position: relative;
    width: 30px;
    height: 30px;
    grid-area: movie-button;
    align-self: center;
    justify-self: end;
    background-color: #313131;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/button-like-unactive.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.movie-card__button_liked {
    background-color: #3DDC84;
    background-image: url('../../images/button-like-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.movie-card__button_type_liked {
    background-size: 12px;
    background-image: url('../../images/CLOSE.svg');
}

.movie-card__image {
    width: 100%;
    object-fit: cover;
}
