.movies__card {
    display: grid;
    background-color: #222222;
}
.movies__card-info {
    padding: 14px;
    display: grid;
    grid-template-areas:
    'movie-title movie-button'
    'movie-duration movie-button'
    ;
}
  
.movies__card-title {
    margin: 0;
    padding-bottom: 9px;
    grid-area: movie-title;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
}
  
.movies__card-duration {
    margin: 0;
    grid-area: movie-duration;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    color: #8B8B8B
}

.movies__card-trailerLink {
    background-color: #222222;
    border: none;
}
  
.movies__card-button {
    position: relative;
    width: 30px;
    height: 30px;
    grid-area: movie-button;
    align-self: center;
    justify-self: end;
    background-color: #313131;
    border: none;
    border-radius: 50%;
    background-image: url('../../images/button-like-unactive.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.movies__card-button_liked {
    background-color: #3DDC84;
    background-image: url('../../images/button-like-active.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.movies__card-button_pined{
    background-size: 12px;
    background-image: url('../../images/CLOSE.svg');
}

.movies__card-image {
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .movies__card-image {
        object-fit: contain;
        height: 190px;
        justify-self: center;
    }
}

@media screen and (min-width: 1280px) {
    .movies__card-image {
        object-fit: contain;
        height: 203px
    }
}
