{
  "env": {
    "browser": true,
    "commonjs": true,
    "es2021": true
  },
  "extends": [
    "airbnb-base",
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "overrides": [
  ],
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-underscore-dangle": ["error",{"allow":["_id"]}],
    "prettier/prettier": "error", // Подсвечивает ошибки из Prettier
    "react/prop-types": 0 // Отключаем правило проверки передаваемых типов.
  }
}