.button-more {
    margin: 50px 0 80px;
    width: 240px;
    height: 36px;
    border: 1px solid #424242;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    justify-self: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
}

@media screen and (min-width: 768px) {
    .button-more {
        width: 320px;
        height: 36px;
    }
}