.auth__input-container {
    display: grid;
    position: relative;
    box-sizing: border-box;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
  }

.auth__input-container_type_profile:first-child {
    border-bottom: 1px solid #424242;
    margin-bottom: 17px;
    padding-bottom: 17px;
}

.auth__label {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: #8B8B8B;
    padding: 0 0 10px;
    line-height: 14px;
}

.auth__label_type_profile {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    color: #fff
}

.auth__input {
    padding: 15px;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    border: none;
    background-color: #2F2F2F;
    border-radius: 8px;
    color: #fff;
    outline: none;
}

.auth__input:focus {
    border-bottom: 1px solid #3DDC84;
}

.auth__input_type_profile {
    padding: 0;
    text-align: right;
    font-size: 11px;
    background-color: transparent;
}
  
.auth__input-container_type_error:last-child .auth__input {
    border: none;
    padding: 0;
}

.auth__input-error {
    padding-top: 10px;
    min-height: 20px;
    box-sizing: border-box;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    color: #EE3465
}

.auth__input-error_type_profile {
    text-align: right;
}

.auth__input_error {
    color: #EE3465;
}

.auth__input-error-active {
    color: #EE3465;
}
