
.footer {
    display: grid;
}  

.footer__disabled {
    display: none;
}

.footer__container {
    display: grid;
    box-sizing: border-box;
    grid-template-areas: 
        'footer-title'
        'footer-nav'
        'footer-copyright';
    padding: 0 10px;
}

@media screen and (min-width: 768px) {
    .footer__container {
        grid-template-areas: 
        'footer-title footer-title'
        'footer-copyright footer-nav';
        padding: 0 30px;
    }
}

@media screen and (min-width: 1280px) {
    .footer__container {
        padding: 0 70px;
        min-width: 1274px;
    }
}

.footer__title {
    margin: 0;
    padding-top: 79px;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
    text-align: center;
    grid-area: footer-title;
    color: #8B8B8B;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .footer__title {
        font-size: 13px;
    }
}

.footer__nav {
    padding-top: 30px;
    display: grid;
    row-gap: 12px;
    text-align: center;
    grid-area: footer-nav;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

@media screen and (min-width: 768px) {
    .footer__nav {
        column-gap: 20px;
        font-size: 13px;
        grid-auto-columns: min-content;
        grid-auto-flow: column;
        justify-self: end;
        padding-top: 20px;
    }
}

.footer__nav-copyright {
    margin: 0;
    padding-top: 30px;
    text-align: center;
    grid-area: footer-copyright;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    color: #8B8B8B;
    padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .footer__nav-copyright {
        color: #fff;
        font-size: 13px;
        justify-self: start;
        padding: 20px 0 20px;
    }
}