@import "./vendor/normalize.css";
@import "./vendor/fonts/font.css";

.page {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  background-color: #202020;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.link {
  text-decoration: none;
  color: #fff
}

.link:hover {
  cursor: pointer;
  opacity: 0.2;
  transition: 2s;
}

.hidden {
  display: none;
}

.input:focus {
  outline: 2px solid #3DDC84;
}